@import "~antd/dist/antd.less";
@import (css) url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

@primary-color: #2f2f2f;
@font-size-base: 16px;
@font-family: "Quicksand", "Noto Sans JP", "sans-serif";
