.ma0 {
  margin: 0;
}
.ma02 {
  margin: 0.2rem;
}
.ma05 {
  margin: 0.5rem;
}
.ma10 {
  margin: 1rem;
}
.ma15 {
  margin: 1.5rem;
}
.maAuto {
  margin: auto;
}
.mx05{
  margin-left: 0.5rem;
  margin-Right: 0.5rem;
}
.mx10{
  margin-left: 1rem;
  margin-Right: 1rem;
}
.mx20{
  margin-left: 2rem;
  margin-Right: 2rem;
}
.mx30{
  margin-left: 3rem;
  margin-Right: 3rem;
}
.mxAuto{
  margin-left: auto;
  margin-Right: auto;
}
.my10 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my20 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my30 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.myAuto{
  margin-top: auto;
  margin-bottom: auto;
}
.mt05 {
  margin-top: 0.5rem;
}
.mt10 {
  margin-top: 1rem;
}
.mt15 {
  margin-top: 1.5rem;
}
.mt20 {
  margin-top: 2rem;
}
.mt30 {
  margin-top: 3rem;
}
.mr05 {
  margin-right: 0.5rem;
}
.mr10 {
  margin-right: 1rem;
}
.mr15 {
  margin-right: 1.5rem;
}
.mb05 {
  margin-bottom: 0.5rem;
}
.mb10 {
  margin-bottom: 1rem;
}
.mlAuto {
  margin-left: auto;
}
.ml05 {
  margin-left: 0.5rem;
}
.ml10 {
  margin-left: 1rem;
}
.ml15 {
  margin-left: 1.5rem;
}
.ml20 {
  margin-left: 2rem;
}
.pa0 {
  padding: 0rem;
}
.pa05 {
  padding: 0.5rem;
}
.pa10 {
  padding: 1rem;
}
.px05 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px10 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py10 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py30 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.pl05 {
  padding-left: 0.5rem;
}
.pl10 {
  padding-left: 1rem;
}
.pl15 {
  padding-left: 1.5rem;
}
.floatRight {
  float: right;
}
.alignCenter {
  text-align: center;
}
.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
.alignMiddle {
  vertical-align: middle;
}
.letterSpacing {
  letter-spacing: 0.1rem;
}